<h3>ngForOf Demo</h3>
<hr />

<h1 *ngIf="people.length > 0">There are {{ people.length }} contacts</h1>
<h1 *ngIf="people.length === 0">There are no contacts in your address BOOK</h1>

<ul>
  <li
    *ngFor="let p of people"
    [ngClass]="{ 'text-success': p.age >= 18, 'text-danger': p.age <= 18 }"
  >
    This is person Data
  </li>
  <li *ngFor="let p of people" [ngClass]="getClass(p.age)">
    <img [src]="p.picture" [ngStyle]="imgStyles" />
    {{ p.name }} is from {{ p.city }}
    <button class="btn btn-warning" (click)="performDelete(p.name)">
      DELETE
    </button>
  </li>
</ul>
